@media (min-width: 810px) and (max-width: 1024px) {

    /* ОБЩИЕ ПЛАНШЕТНЫЕ СТИЛИ */
    .hheadeer {
        width: 95%;

    }

    main {
        min-width: 360px;
    }

    .g {
        font-size: 26px;
        font-family: jost;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .centcont {
        text-align: center;
        width: 70%;
        margin: 20px auto 0;
    }

    .poprob {
        background-color: #B85D3F;
        color: white;
        border: none;
        padding: 20px 50px;
        margin-top: 5px;
        font-size: 24px;
        font-family: jost;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }

    .langform {
        position: absolute;
        left: 5%;
        bottom: 6%;
        width: 40%;
        max-width: 420px;
        min-width: 200px;
        background-color: none;
        border: 3px solid #E0D6C8;
        border-radius: 30px;
        padding: 10px;
    }

    .langform h4 {
        font-family: k2d, jost;
        font-size: 18px;
        color: #E0D6C8;
        margin-top: 10px;
        margin-left: 30px;
    }

    .langform .subtitle {
        font-family: jost;
        font-size: 13px;
        color: #E0D6C8;
        margin-bottom: 5px;
        margin-left: 30px;
    }

    .langrid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        margin-top: 40px;
        margin-left: -10px;
        margin-bottom: 40px;
    }

    .checkboxx {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: jost;
        font-size: 16px;
        color: #E0D6C8;
        cursor: pointer;
        width: calc(50% - 10px);
    }

    .checkboxx input {
        width: 15px;
        height: 15px;
        cursor: pointer;
        accent-color: #B85D3F;
    }

    .next {
        background-color: #B85D3F;
        color: white;
        border: none;
        padding: 18px 20px;
        margin-top: 10px;
        font-size: 21px;
        font-family: jost;
        border-radius: 30px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s;
    }

    .next:hover {
        background-color: #9A4A32;
    }

    /* МАРАФОН */
    .maraf {
        margin: 60px auto;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .lefttxt {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }

    .h4mar {
        margin-left: 0;
        font-size: 32px;
        max-width: 100%;
        text-align: center;
    }

    .textt {
        margin-top: 20px;
        margin-left: 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 8px;
    }

    .textt p {
        margin: 0;
        font-size: 26px;
    }

    .marafon1 {
        width: 90%;
        max-width: 700px;
        height: 350px;
        margin-right: 0;
        margin-top: 0;
    }

    .marafon2 {
        width: 180px;
        height: 300px;
        right: 3%;
    }

    .marafon-text {
        top: 25px;
        left: 25px;
        max-width: 250px;
    }

    .marafon-text p {
        font-size: 16px;
    }

    /* КАРТОЧКИ */
    .kartt {
        font-size: 30px;
        margin-top: 100px;
    }

    .kartochk {
        gap: 25px;
        padding: 0 20px;
    }

    .detikart1,
    .vzroslkart2 {
        width: 400px;
        height: auto;
        min-height: 500px;
    }

    .deti,
    .vzrosly {
        font-size: 32px;
    }

    .txtdeti p,
    .txtvz p {
        font-size: 18px;
    }

    .zach {
        font-size: 18px;
    }

    .price {
        font-size: 26px;
    }

    .urok {
        font-size: 18px;
    }

    .fott p {
        font-size: 16px;
    }

    .gift {
        width: 60px;
        height: 60px;
    }

    /* ПРЕПОДАВАТЕЛИ */
    .tittleprep {
        font-size: 30px;
        margin-top: 100px;
    }

    .prepsection {
        height: auto;
        margin: 50px 0;
    }

    .prepsection-track {
        padding: 30px 0;
    }

    .prepkard {
        width: 350px;
        height: 650px;
    }

    .prepname {
        font-size: 16px;
    }

    .prepnote {
        font-size: 11px;
    }

    /* КУРСЫ */
    .tittlecours {
        font-size: 40px;
    }

     .courssub {
        font-family: jost;
        font-size: 22px;
        color: #6B6B6B;
    }

    .cursk {
        flex-wrap: wrap;
        gap: 25px;
    }

    .karddcore {
        flex: 0 0 auto;
        min-width: 200px;
        max-width: 280px;
        min-height: 300px;
        padding: 30px;
        border-radius: 40px;
        transition: transform 0.3s, box-shadow 0.3s;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 10px 30px rgba(67, 33, 22, 0.84);
        height: auto;
    }

    .karddcore:hover {
        transform: scale(1.02);
        box-shadow: 0 15px 40px rgba(67, 33, 22, 0.9);
    }

    .eng1 {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)), url(../img/english.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .eng2 {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)), url(../img/eng2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .eng3 {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)), url(../img/eng3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .chin1 {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)), url(../img/chin1.avif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .chin2 {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)),
            url(../img/chin2.avif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .chin3 {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)),
            url(../img/chin3.avif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .deutsch {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)),
            url(../img/deutsch.avif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .france {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)),
            url(../img/france.avif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .korea {
        background: linear-gradient(rgba(67, 33, 22, 0.5), rgba(67, 33, 22, 0.5)),
            url(../img/korea.avif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .langcore {
        font-family: jost;
        font-size: 16px;
        color: #EAEAEA;
        margin-bottom: 5px;
    }

    .lvlcore {
        font-family: jost;
        font-size: 16px;
        color: #B85D3F;
        margin-bottom: 10px;
    }

    .notecore p {
        font-family: jost;
        font-size: 14px;
        color: #EAEAEA;
    }

    .pricecore {
        margin: 10px 0 20px;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .intprice {
        font-family: jost;
        font-size: 16px;
        font-weight: bold;
        color: #EAEAEA;
    }

    .droburok {
        font-family: jost;
        font-size: 14px;
        color: #6B6B6B;
    }

    .zapissbtn {
        background-color: #B85D3F;
        color: #EAEAEA;
        border: none;
        font-family: jost;
        border-radius: 20px;
        cursor: pointer;
        display: block;
        position: absolute;
        bottom: 30px;
        font-size: 15px;
        padding: 8px;
        left: 20px;
        width: 85%;
    }

    .zapissbtn:hover {
        background-color: #9A4A32;
    }

    /* Широкий блок китайского */
    .chinaas {
        background: linear-gradient(135deg, #1A2421 0%, #2B3732 100%);
        padding: 50px 20px;
        margin: 40px 20px;
    }

    .contchina {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    .tittlechina {
        font-family: jost;
        font-size: 42px;
        color: #EAEAEA;
        margin-bottom: 20px;
    }

    .whynote {
        font-family: jost;
        font-size: 30px;
        color: #EAEAEA;
        max-width: 1200px;
        margin: 0 auto 50px;
        line-height: 1.5;
    }

    .chiness {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    /* О НАС */
    .tittleabout {
        font-size: 32px;
    }

    .aboutsub {
        font-size: 16px;
    }

    .tittlewhy {
        font-size: 36px;
    }

    .proscard {
        min-width: 250px;
        padding: 25px;
    }

    .prostittle {
        font-size: 20px;
    }

    .aboutpage {
        max-width: 1000px;
        margin: 40px auto;
        padding: 0 20px;
    }

    .aboutblock1 {
        text-align: center;
        margin-bottom: 40px;
    }

    .whysec {
        margin-bottom: 40px;
    }

    /* ОТЗЫВЫ */
    .scrollotsuvy {
        margin: 60px 20px;
        padding: 30px 15px;
    }

    .tittleotsuvy {
        font-size: 28px;
    }

    .kardots {
        width: 300px;
        padding: 25px;
        flex: 1 1 220px
    }

    .otsname h3 {
        font-size: 18px;
    }

    /* КОНТАКТЫ */
    .conttittle {
        font-size: 38px;
    }

    .contactboxx {
        gap: 40px;
        padding: 0 20px;
    }

    .formtittle {
        font-size: 26px;
    }

    /* ЛИЧНЫЙ КАБИНЕТ */
    .person {
        padding: 50px 20px;
    }

    .forms-container {
        gap: 30px;
    }

    .logcard,
    .regcard {
        padding: 30px;
    }

    .tittlecardlog,
    .tittlecardreg {
        font-size: 28px;
    }

    /* ФУТЕР */
    footer {
        margin-top: 60px;
    }

    footer .titlefoot {
        font-size: 20px;
    }

    footer p {
        font-size: 20px;
        margin-left: 40px;
    }

    .rejim {
        margin-right: 40px;
    }

    .lenta {
        width: 60%;
        height: 85px;
        gap: 15px;
        padding: 0 15px;
    }

    .VK {
        width: 70px;
        height: 70px;
    }

    .Max {
        width: 50px;
        height: 50px;
    }

    .odnokl {
        width: 60px;
        height: 60px;
    }

    .navv-menu img,
    .navv-menu2 img {
        width: 35px;
        height: auto;
        display: block;
    }

    /* Полностью скрываем бургер-панель на планшете */
    #menuPanel {
        display: none;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    /* Также скрываем иконку бургера, если она есть */
    .burger-icon {
        display: none;
    }

    /* Показываем обычное меню */
    .navv-menu,
    .navv-menu2 {
        display: flex;
    }

    /* ПЛАВАЮЩАЯ ИКОНКА ТЕМЫ */
    .floating-theme-icon {
        top: 20px;
        right: 20px;
        height: 55px;
    }

    /* БУРГЕР И МЕНЮ ДЛЯ ПЛАНШЕТА */
    .burger-icon {
        display: none;
        /* скрываем кнопку бургера */
    }
}